.wrapper {
	
}

.box {
	height: 100px;
	margin-bottom: 20px;

	border: 2px solid black;
}

.subwrapper {
	display: flex;
	justify-content: space-around;
	align-items: start;
}

.box__slider-wrapper {
	display: inline-flex;

	justify-content: center;
}

.box__loader-wrapper {
	display: inline-flex;
	justify-content: center;
}

.box {
	display: flex;
	justify-content: flex-start;
	min-width: 800px;

	padding: 10px;
}

.box__data-selector {
	min-width: 150px;
	max-width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 20px;

	flex-direction: column;

	&-label {
		text-align: center;
	}

}

.box__data-selector-button {
	padding: 2px 20px;

	background: #ABB1BA;

	&--active {
		background: black;
		color: white;
	}
}

.box__position-selector {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 150px;
	max-width: 250px;
}

.box__features-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	min-width: 300px;
	max-width: 600px;
}

.box__feature{
    margin-right: 20px;
	&-input {
		margin-left: 5px;
		width: 70px;
	}
}
