.wrapper {
	
}

.box {
	height: 100px;
	margin-bottom: 20px;

	border: 2px solid black;
}

.subwrapper {
	display: flex;
	justify-content: space-between;
}

.box__slider-wrapper {
	display: inline-flex;

	justify-content: center;
}

.box__loader-wrapper {
	display: inline-flex;
	justify-content: center;
}

.box {
	display: flex;
}

.box__data-selector {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	flex-direction: column;

}

.box__data-selector-button {
	padding: 5px 20px;

	background:;
}
